@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0
}

.container {
    padding: 3rem;
    display: grid;
    display: -ms-grid;
    gap:20px 35px;
    /* grid-auto-flow: column; */
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items: center;
    background-color: #0c0825;
  
    
}

.grid-card {
    height: 380px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
    
}



.image {
    position: block;
    display:flex;
    justify-content: center;
    
}

.image span {
    position: relative;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(149, 213, 255);
    margin-top: 20%;
    
    
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#070c1d;
    font-size: 3rem;
    color: #fff;

}

.image span img {
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px
}

.text p {
    font-size: 20px
}

.bottom {
    width: 50;
}

.social {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .container
    {
      display:flex;
      flex-direction:column;
      overflow: hidden;
      


      
      
      
    }
    .grid-card {
        height: 350px;
        width: 280px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        cursor: pointer
    }
}
