.container{
   background-color: black;
   
}


.bg{
position: fixed;
background-color:rgb(0, 0, 0);
opacity: 60%;
bottom: 0;
top: 0;
right: 0;
left: 0;
 }

.table button{
    margin-left: 95%;
    padding: 5px 10px;
    background-color: rgb(243, 127, 26);
    border-radius: 50%;
    border: none;
    color: white;
}
.table{
    background-color: white;
    width: 70%;
    position: fixed;
    left:15%;
    padding: 9px;
    border-radius: 10px;
    box-shadow: 30px 30px 15px rgb(0 0 0 / 0.2); 
 }

 .table th{
    width:200px;
    padding: 5px;

 }
 .des{
    font-size: 15px;
  max-height: 250px;
  overflow: auto;
 }
 .table p{
    overflow: scroll;
 }